- Data Storytelling 

- Story telling - making a story - because

Run any language, we needed an IDE

- https://sqliteonline.com/

In [ ]:
-- query, database, table

In SQL every row is called a record. 

- Create a databases
- create tables
- query databases and tables
- create views, view a part of the database

1. Query a database 
    - can manipulate data within a database
    - create, or retrieve data from a database

2. CRUD operations on Records
    - Create 
    - Read
    - Update
    - Delete

In [ ]:
SELECT * FROM Departments

- SELECT - extract data from a database
- INSERT INTO 
- CREATE DATABASE
-

- Run SQL in a python based version, called SQLite

```sql
CREATE TABLE Department(   -- create table -> create a new table   -- Specify name
  id      INT PRIMARY KEY,  -- created a new column, assigned INTEGER data type to it, -- added a constraint (rule or a property)
  name    VARCHAR(50)
)
```

- PRIMARY KEY columns, won't allow duplicates 
- VARCHAR - in sql is a data type - think of it like, string in python 
- You specify how many bytes to assign as well
-

```sql

CREATE TABLE Department(
  id      INT PRIMARY KEY,
  name    VARCHAR(50)
);

CREATE TABLE Employees(
  id      INT PRIMARY KEY,
  name    VARCHAR(50),
  department_id INT,
  salary INT,
  city VARCHAR(50),
  hiring_year INT,
  FOREIGN KEY (department_id) REFERENCES departments(id)
);

SELECT name, id FROM Department;

-- insert some data into the tables
INSERT INTO Department (id, name) VALUES ( 1, 'Computer Science'),(2, 'Maths'),(3, 'Physics');